#hero {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: 0;
}
#hero-box{
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg h4{
    color: white;
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 0;
}
#hero-msg h4{
    display: none;
}
#hero-msg h1{
    color: #6f7364;
}
#hero-img{
    width: 100%;
}
body {
    margin:0 ;
    padding:0 ;
    background-color: rgb(47, 48, 116);
    font-family:'Times New Roman', Times, serif;
    font-size: 22px;
}
header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: rgb(95, 149, 152);
}
h2{
    margin: 0;
}
footer{
    background-color: rgb(95, 149, 152);
    color: rgb(29, 84, 109);
    padding: 25px 50px;
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav, footer{
    flex-direction: column;
}
footer a{
    text-decoration: none;
    color: rgb(29, 84, 109);
}
footer a:hover{
    color: rgb(29, 84, 109);
}
footer p a:hover{
    font-size: 1.2em;
    text-decoration: underline;
}
footer .social img{
    padding-top: 15px;
}
.home-title {
    font-family:'Times New Roman', Times, serif;
    font-size: 25px;
    margin-top: 10px;
}
.book, .join{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    border-radius: 5px;
}
.msg p{
    font-family: 'Times New Roman', Times, serif;
    font-size: .8em;
    line-height: 1.5em;
}
.card-img{
    border: 10px solid #d9c2a3;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img:hover{
    opacity: .6;
    transform: scale(1.1);
}
#content {
    background-color: rgb(32, 34, 72);
    max-width: 1600px;
    margin: 0 auto;
}
#comp-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}
#html{
    grid-column: 1/3;
    grid-row: 1/2;
}
#css {
    grid-column: 2/3;
    grid-row: 2/3;
}
#hero, .home-grid {
    display: block;
    height: auto;
}
.rivers-card {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
}

.camping-card {
    grid-column: 5 / 7;
    grid-row: 2 / 3;
}

.rapids-card {
    grid-column: 8 / 10;
    grid-row: 2 / 3;
}

#background {
    grid-column: 1 / 11;
    grid-row: 4 / 9;
}

.mountains {
    width: 100%;
    grid-column: 2 / 7;
    grid-row: 5 / 8;
    box-shadow: 5px 5px 10px #6f7364;
}
.msg {
    background-color: #367559;
    padding: 35px;
    grid-column: 6 / 10;
    grid-row: 6 / 7;
    box-shadow: 5px 5px 10px #6f7364;
}
#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.card-img, .mountains{
    width: 100%;
}
nav{
    display: flex;
    justify-content: space-around;
}
nav a {
    text-align: center;
    text-decoration: none;
    color: rgb(6, 30, 41);
    display: block;
    padding: 15px;
}
nav a:hover{
    background-color: rgb(214, 189, 152);
    color: rgb(95, 149, 152);
}
.book, .join{
    text-decoration: none;
    background-color: rgb(95, 149, 152);
    color: rgb(26, 54, 54);
    padding: 15px 30px;
    margin-top: 50px;
}
.bbok:hover, .join:hover{
    background-color: rgb(95, 149, 152);
    color: rgb(26, 54, 54);
}
.rivers-card, .camping-card, .rapid-card{
    margin: 50px auto;
    width: 60%;
}
h4{
    color: rgb(95, 149, 152);
}
#hero-msg h1, #hero-msg h4{
    text-align: center;
}
main section{
    text-align: center;
}
main section img{
    box-sizing: border-box;
}
#background{
    height: 725px;
    background-color: rgb(44, 38, 81);
    display: none;
}
.msg h2{
    color: rgb(6, 30, 41);
}
.msg p{
    color: rgb(6, 30, 41);
    padding-bottom: 15px;
}
.mountains, .msg{
    width: 80%;
    display: block;
    margin: 0 auto;
}
.logo, .icon{
    width: 80px;
}
.icon{
    padding-top: 10px;
}

