#hero {
    width: 100%;
}
body {
    margin:0 ;
    padding:0 ;
    background-color: rgb(95, 149, 152);
    font-family:'Times New Roman', Times, serif;
    font-size: 22px;
}
header {
    background-color: rgb(95, 149, 152);
}
h2{
    margin: 0;
}
footer{
    background-color: rgb(95, 149, 152);
    color: rgb(29, 84, 109);
    padding: 25px 50px;
    margin-top:200px;
}
footer a{
    text-decoration: none;
    color: rgb(29, 84, 109);
}
footer a:hover{
    color: rgb(29, 84, 109);
}
footer p a:hover{
    font-size: 1.2em;
    text-decoration: underline;
}
footer .social img{
    padding-top: 15px;
}
.home-title {
    font-family:'Times New Roman', Times, serif;
    font-size: 2em;
    margin-top: 10px;
}
.book, .join{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    border-radius: 5px;
}
.msg p{
    font-family: 'Times New Roman', Times, serif;
    font-size: .8em;
    line-height: 1.5em;
}
.card-img{
    border: 10px;
}
#content {
    background-color: rgb(95, 149, 152);
    max-width: 1600px;
    margin: 0 auto;
}
#comp-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}
#html{
    grid-column: 1/3;
    grid-row: 1/2;
}
#css {
    grid-column: 2/3;
    grid-row: 2/3;
}
#logo_link{
    padding-top: 5px;
}

nav a {
    text-align: center;
    text-decoration: none;
    color: rgb(6, 30, 41);
    padding: 35px;
}
nav a:hover{
    background-color: rgb(214, 189, 152);
    color: rgb(95, 149, 152);
}
.book, .join{
    text-decoration: none;
    background-color: rgb(95, 149, 152);
    color: rgb(26, 54, 54);
    padding: 15px 30px;
    margin-top: 50px;
}
.bbok:hover, .join:hover{
    background-color: rgb(95, 149, 152);
    color: rgb(26, 54, 54);
}
.rivers-card, .camping-card, .rapid-card{
    margin: 200px 0;
}
h4{
    color: rgb(95, 149, 152);
}
#hero-msg h1, #hero-msg h4{
    text-align: center;
}
main section{
    text-align: center;
}
main section img{
    box-sizing: border-box;
}
#background{
    height: 725px;
    background-color: rgb(95, 149, 152);
}
.msg{
    background-color:rgb(95, 149, 152);
    padding: 35px;
}
.msg h2{
    color: rgb(6, 30, 41);
}
.msg p{
    color: rgb(6, 30, 41);
    padding-bottom: 15px;
}
.logo, .icon{
    width: 80px;
}
.icon{
    padding-top: 10px;
}

